<h1>Listing users</h1>

<a href="http://accounts.spotify.com">Salir de la cuenta</a>

<table>
  <thead>
    <tr>
      <th class="col-xs-3">Name</th>
      <th class="col-xs-3">Email</th>
      <th class="col-xs-9">Favorite Songs</th>
     <!-- <th>Lista De Conciones</th>-->
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td>
          <% user.otro.each do |fav| %>
            <iframe src="https://embed.spotify.com/?uri=<%= fav %>" width="300" height="80" frameborder="0" allowtransparency="true"></iframe>
          <% end %>


        
       
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<!--
<%= link_to 'New User', new_user_path %>
-->