<h3><%= current_user.name %></h3><%= link_to 'Lista de usuarios', users_path %>

<table>
  <thead>
    <tr>
      <th class="col-xs-3">Title</th>
      <th class="col-xs-3">Artist</th>
      <th class="col-xs-9">Preview</th>
     <!-- <th>Lista De Conciones</th>-->
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% current_user.songs.each do |fav| %>
    	<%if fav.preview %> <!-- Solo las canciones que tengan enlace de preview>-->
	      	<tr>
		        <td><%= fav.name %></td>
		        <td><%= fav.artist %></td>
		        <td>
		        	<audio controls="controls" src="<%= fav.preview %>"></audio>
		        </td>
	      	</tr>
      	<% end %>
    <% end %>
  </tbody>
</table>