<script>
  var cur = 0;
  $(function() {
    /*$('.left').click(function() {
          if(cur <= 0) return;
          var last = cur;
          cur --;
          $('.dropdown li').eq(last).addClass('hide');
          $('.dropdown li').eq(cur).css('margin-top', '-5px').removeClass('hide');
          $('.dropdown li').eq(cur).animate({marginTop: '0px'}, 'fast', function(){
              $(this).removeClass('hide');
          });
          
    });*/

    $('.pager').click(function() {
          if(cur >= $('.dropdown li').length - 1) return;
          var last = cur;
          cur ++;
          $('.dropdown li').eq(last).addClass('hide');
          $('.dropdown li').eq(cur).css('margin-top', '5px').removeClass('hide');
          $('.dropdown li').eq(cur).animate({marginTop: '0px'}, 'fast', function(){
              $(this).removeClass('hide');
          });
    });
  });
</script>
<br>

  <h3><%= @user.name %></h3>
<div class="container">
  <ul class="pager">
    <li><a href="javascript:void(0)">Next</a></li>
  </ul>

  <div class="dropdown-container" style="display:inline-block" >
    <ul class="dropdown">
    <li style="height:30%">
      <h4>Click on "Next" button to start discovering music ! </h4>
    </li>
    <% @user.songs.each do |fav| %>
      <%if fav.preview %> <!-- Solo las canciones que tengan enlace de preview>-->
        <li class ="hide" style="height:460px">
          <h4><%= fav.artist %></h4>
          <h4><%= fav.name %></h4>
          <audio controls id='<%= fav.name %>' src="<%= fav.preview %>"></audio>
        </li>
        <% end %>
    <% end %>
    </ul>
  </div>


</div>

<!--

  <div class="right" style="display:inline-block" >
    <a href="javascript:void(0)">
      <i class="glyphicon glyphicon-forward"></i>
    </a>
  </div>


<div class="btn-group btn-group-justified">                
                
              <-%-= content_tag(:button, image_tag("Rounded buttons/png/listen-green.png", :size => "170x50"), :type => "button",:onclick => "aud_play_pause();") %>

                <script>
                var myAudio=document.getElementById('<-%-= fav.name %>');

                function aud_play_pause(){
                  if (myAudio.paused){
                      myAudio.play();
                  } else {
                      myAudio.pause();
                  }
                }
                </script>
                
              </div>
-->