<% if user_signed_in? %>
  <li>
  Logged in as <%= current_user.email %>
  </li>
  <li>
  <%= link_to('Logout', signout_path) %>
  </li>
  <li>
  <%= link_to 'Cierre de sesion Spotify/Facebook', endsession_path %>
  </li>
  <li>
  <%= link_to 'Canciones', songs_path %>
  </li>
  <li>
  <%= link_to 'Usuarios', users_path %>
  </li>
   <li>
  <%= link_to 'Genre', genre_path %>
  </li>
<% else %>
  <li>
  <%= link_to('Login', signin_path)  %>
  </li>
<% end %>